*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:linear-gradient(135deg,#4facfe,#00f2fe);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.container{

    width:100%;

    display:flex;

    justify-content:center;

}

.card{

    width:700px;

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:0 15px 35px rgba(0,0,0,.2);

    text-align:center;

}

h1{

    color:#0077ff;

    margin-bottom:10px;

}

.subtitle{

    color:#666;

    margin-bottom:30px;

}

.upload-box{

    display:block;

    border:3px dashed #0077ff;

    padding:30px;

    border-radius:15px;

    cursor:pointer;

    color:#0077ff;

    font-size:20px;

    margin-bottom:25px;

}

.upload-box input{

    display:none;

}

button{

    background:#0077ff;

    color:white;

    border:none;

    padding:15px 40px;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#0059d6;

    transform:scale(1.05);

}

.result{

    margin-top:35px;

    text-align:left;

    background:#f5f8ff;

    padding:20px;

    border-radius:12px;

}

.result h2{

    color:#0077ff;

    margin-bottom:15px;

}

.result p{

    line-height:1.8;

    color:#444;

}
